.DS_Store
/.build
/.cache/
/dist
node_modules/
/target
/apps/desktop/dist
/apps/desktop/src-tauri/gen
/legacy/macos-swift/.build
/legacy/macos-swift/dist
/.worktrees
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/MDViewer 2026-03-13 15-23-48/
